[submodule "libs/normalize"]
	path = libs/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "libs/library"]
	path = libs/library
	url = https://github.com/OmarElzero/Last_session.git
